.wrapper-with-overview {
  // height: 100%;
  .booking-footer {
  }
}
.heading-margin {
  margin-top: 6.3rem;
}

.input-wrapper {
  position: relative;
  margin-bottom: 1rem;
  input {
    padding: 20px 10px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    height: 55px;
  }
  .input-error {
    border-color: var(--red);
  }
  .input-label-error {
    color: var(--red);
    top: 37%;
  }
  .error-message {
    font-size: 13px;
    color: var(--red);
    transition: 0.3s ease-in-out;
    // height: 13px;
    // position: absolute;
  }
}

.input-label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  transition: top 0.2s ease, transform 0.2s ease, font-size 0.2s ease;
  font-weight: 600;
  pointer-events: none;
}

.input-label.active {
  top: 5px;
  transform: translateY(0);
  font-size: 0.8em;
  background-color: transparent;
  opacity: 0.5;
  color: black;
}
