.booking-overview-wrapper {
  background-color: #f3f3f5;
  position: fixed;
  height: 100vh;
  right: 0;
  top: 0;
  width: 371px;
  padding: 1rem;
  padding-top: 100px;
  overflow: scroll;
  padding-bottom: 5rem;

  .addon-name {
    font-size: 16px;
    line-height: 10px;
    letter-spacing: 0.05em;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .overview-selected-room {
    display: flex;
    gap: 0.75rem;
    margin-top: 1rem;
    font-size: 18px;
    line-height: 17px;
    letter-spacing: -0.02em;
    font-weight: 600;
    margin-bottom: 3rem;
  }
  .overview-total-price {
    font-size: 22px;
    line-height: 21px;
    letter-spacing: -0.02em;
    font-weight: 600;
  }
}
