.step-wrapper {
  .step2-images {
    margin: 0 -3.5rem;
    img {
      max-height: 244px;
    }
  }
  .selected-room {
    display: flex;
    margin-top: 4rem;
    .selected-room-title {
      width: 40%;
      h2 {
        padding-bottom: 0px !important;
        margin-bottom: 16px !important;
      }
      span {
        background-color: var(--blue2);
        font-size: 12px;
        font-weight: 600;
        line-height: 12px;
        width: 16.5%;
      }
    }
    .selected-room-description {
      width: 60%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      p {
        white-space: pre-line;
        opacity: 0.65;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0em;
        font-weight: 500;
      }
      .selected-room-facilities-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        .selected-room-facility-item {
          position: relative;
          padding-left: 10px;
          margin-bottom: 5px;
          font-size: 13px;
          font-weight: 500;
          line-height: 16px;
        }

        .selected-room-facility-separator {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          height: 100%;
          width: 1px;
          background-color: var(--blue2);
          opacity: 50%;
        }
      }
      h4 {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: -1.5rem;
      }
    }
  }
}

.booking-footer {
  margin-top: auto;
  position: fixed;
  width: 930px;
  bottom: 0;
  z-index: 100;
  background-color: white;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
  right: 0;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  bottom: 0;
  border-top: 1px solid #e5e7eb;
  .chosen-package {
    opacity: 0.65;
    font-size: 15px;
    margin-right: auto;
    margin-left: 1rem;
  }
  div {
    font-size: 28px;
  }
  .booking-footer-price {
    font-weight: 600;
    line-height: 28.6px;
  }
  button {
    color: white;
    pointer-events: none;
    background-color: var(--blue3);
    padding: 1rem 3rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: 0.3s;
  }
  .active {
    background-color: var(--blue2);
    pointer-events: all;
    cursor: pointer;
  }
  button:hover {
    opacity: 0.9;
  }
}

.packages-main-wrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 6rem;
  .packages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    button {
      padding: 1rem;
      width: 100%;
      text-align: left;
      display: flex;
      flex-direction: column;
      border: 1px solid #e0e0e0;
      transition: 0.1s;
      border-radius: 4px;
      position: relative;
    }
    .package-heading {
      font-size: 20px;
      line-height: 20px;
      font-weight: 600;
      margin-bottom: 0.75rem;
    }
    .package-paragraph {
      margin-bottom: 2rem;
      font-size: 13px;
      line-height: 16.25px;
      font-weight: 500;
    }
    .package-price {
      margin-top: auto;
      font-size: 28px;
      font-weight: 600;
      line-height: 28.6px;
    }
    .selected {
      border: 1px solid black;
    }
    .selected:hover {
      border: 1px solid black;
    }
    button:hover,
    button:hover > .checkmark {
      border-color: rgba(0, 0, 0, 0.3);
    }
    .checkmark {
      position: absolute;
      top: 1rem;
      right: 1rem;
      border: 1px solid #e0e0e0;
      border-radius: 100%;
      height: 24px;
      width: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.1s;
      svg {
        color: white;
      }
    }

    .chosen {
      background-color: black;
      border: 1px solid black;
    }
  }
}
