.input-wrapper {
  position: relative;
  margin-bottom: 20px;
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    padding: 20px 10px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    height: 55px;
  }
}

.input-label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  transition: top 0.2s ease, transform 0.2s ease, font-size 0.2s ease;
  font-weight: 600;
  pointer-events: none;
}

.input-label.active {
  top: 5px;
  transform: translateY(0);
  font-size: 0.8em;
  background-color: transparent;
  opacity: 0.5;
}
