.sidebar-container {
  background-color: #0009;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
  .hotels-sidebar-wrapper {
    padding: 2.5rem 1rem 1rem;
    position: fixed;
    width: 385px;
    height: 100%;
    right: 0;
    top: 0;
    background-color: var(--background-color);
    overflow-y: scroll;
    .close-sidebar {
      background-color: #e1e1e5;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      aspect-ratio: 1/1;
      position: absolute;
      right: 1rem;
    }
    h2 {
      font-weight: 600;
      line-height: 32px;
      letter-spacing: -0.72px;
    }
    .regions-container {
      display: flex;
      margin: 1rem 0;
      align-items: center;
      padding-bottom: 1rem;

      li {
        font-size: 12px;
        font-weight: 600;
        cursor: pointer;
        padding: 0.2rem 0.7rem;
      }
      .active-filter {
        background: var(--blue2);
        color: white;
        border-radius: 15px;
      }
    }
    .hotels-container {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding-top: 1rem;

      button {
        display: flex;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        width: 100%;
        transition: 0.3s;
        height: 70px;
        align-items: center;

        div:nth-child(2) {
          display: flex;
          flex-direction: column;
          padding: 12px;
          text-align: left;
          :nth-child(1) {
            font-weight: 600;
            margin-bottom: -0.5rem;
            font-size: 15px;
          }
          :nth-child(2) {
            font-size: 13px;
          }
        }
        div:nth-child(3) {
          margin-left: auto;
          margin-right: 0.75rem;
          background-color: black;
          width: 24px;
          height: 24px;
          border-radius: 100%;
          justify-content: center;
          align-items: center;
          display: none;
          svg {
            color: white;
          }
        }
        div:nth-child(3).chosen {
          display: flex;
        }
        img {
          object-fit: cover;
          height: 68px;
          width: 84px;
          border-radius: 4px 0 0 4px;
        }
      }
      .selected {
        border: 1px solid black;
      }
      button:hover {
        border-color: rgba(0, 0, 0, 0.3);
      }
    }
  }
}
.opened {
  display: block;
  z-index: 2;
}
.search {
  pointer-events: none;
  background-color: var(--blue3);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
  padding: 1rem 0;
  border-radius: 30px;
  transition: 0.5s;
  margin-top: 1.5rem;
}
.active {
  background-color: var(--blue2);
  pointer-events: all;
  cursor: pointer;
}
.search:hover {
  opacity: 0.9;
}
.hotel-select-container {
  position: fixed;
  bottom: 1.25rem;
}
.hotel-select {
  width: 366px;
}
