.dropdown-wrapper {
  background-color: #0009;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
  .dropdown-container {
    padding: 1.5rem 1rem 1.5rem 1rem;
    position: fixed;
    width: 300px;
    height: 348px;
    right: 0;
    top: 7rem;
    right: 25%;
    background-color: var(--background-color);
    border-radius: 10px;
    .input-wrapper {
      position: relative;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      input {
        padding: 20px 10px 10px 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        width: 100%;
        height: 55px;
      }

      .input-label {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        transition: top 0.2s ease, transform 0.2s ease, font-size 0.2s ease;
        font-weight: 600;
        pointer-events: none;
      }

      .input-label.active {
        top: 5px;
        transform: translateY(0);
        font-size: 0.8em;
        background-color: transparent;
        opacity: 0.5;
      }
    }
    .dropwdown-text {
      ul {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        margin-bottom: 2rem;
        li {
          font-size: 13px;
          font-weight: 500;
          line-height: 16.25px;
          color: rgba(0, 0, 0, 0.65);
        }
        .signup-link {
          text-decoration: underline;
          color: #182b39;
          cursor: pointer;
        }
        .inactive {
          text-decoration: line-through;
          pointer-events: none;
        }
      }
    }
    .login-wrapper {
      border-top: 1px solid #e5e7eb;
      padding: 1rem;
      button {
        pointer-events: none;
        background-color: var(--blue3);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        color: white;
        padding: 0.8rem 0;
        border-radius: 30px;
        transition: 0.5s;
        width: 100%;
        font-weight: 600;
      }
      button:hover {
        opacity: 0.9;
      }
      .active {
        background-color: var(--blue2);
        pointer-events: all;
        cursor: pointer;
      }
    }
    .logged-in-checkmark {
      position: absolute;
      width: 300px;
      height: 348px;
      border-radius: 10px;
      background-color: white;
      top: 0;
      left: 0;
      justify-content: center;
      align-items: center;
      display: none;
      svg {
        fill: greenyellow;
        animation-name: wiggle;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;
        opacity: 0;
      }
      @keyframes wiggle {
        0% {
          -webkit-transform: rotate(10deg);
          opacity: 1;
        }
        20% {
          -webkit-transform: rotate(-10deg);
          opacity: 1;
        }
        40% {
          -webkit-transform: rotate(20deg);
          opacity: 1;
        }
        60% {
          -webkit-transform: rotate(-5deg);
        }
        80% {
          -webkit-transform: rotate(0deg);
          opacity: 0.8;
        }
        100% {
          opacity: 0.3;
        }
      }
    }
    .success-login {
      display: flex;
    }
  }
}
.opened {
  display: block;
  z-index: 2;
}
