.sidebar-container {
  background-color: #0009;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  .signup-sidebar-wrapper {
    position: fixed;
    width: 418px;
    height: 100%;
    right: 0;
    top: 0;
    background-color: var(--background-color);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    .close-sidebar {
      background-color: #e1e1e5;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      aspect-ratio: 1/1;
      position: absolute;
      right: 1rem;
      top: 2.5rem;
    }
    .signup-title {
      padding: 2.5rem 1rem 0rem;
      h2 {
        font-size: 36px;
        line-height: 32px;
        letter-spacing: -0.02;
        font-weight: 600;
      }
      p {
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0em;
        font-weight: 500;
        margin-top: 1rem;
      }
    }
    form {
      padding: 1rem 1rem;
      margin-top: 4rem;
      .input-wrapper {
        position: relative;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 1rem;
        input[type="date"] {
          font-weight: 600;
        }
        input,
        select {
          padding: 20px 10px 10px 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 16px;
          width: 100%;
          height: 55px;
          background-color: white;
        }

        .input-label {
          position: absolute;
          top: 50%;
          left: 10px;
          transform: translateY(-50%);
          transition: top 0.2s ease, transform 0.2s ease, font-size 0.2s ease;
          font-weight: 600;
          pointer-events: none;
        }

        .input-label.active {
          top: 5px;
          transform: translateY(0);
          font-size: 0.8em;
          background-color: transparent;
          opacity: 0.5;
        }
      }
      .terms-and-conditions {
        margin-top: 3rem;
        display: flex;
        align-items: center;
        font-size: 13px;
        font-weight: 500;
        line-height: 16px;
        margin-left: 0.5rem;
        input {
          margin-right: 1rem;
          width: 24px;
          height: 24px;
          border-radius: 15px;
        }
      }
    }
    .signup-select-container {
      margin-top: auto;
      position: sticky;
      bottom: 0;
      width: 100%;
      padding: 1rem;
      display: flex;
      justify-content: center;
      background-color: var(--background-color);
      button {
        pointer-events: none;
        background-color: var(--blue3);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        color: white;
        padding: 1rem 0;
        border-radius: 30px;
        transition: 0.5s;
        width: 100%;
      }
      button:hover {
        opacity: 0.9;
      }
      .active {
        background-color: var(--blue2);
        pointer-events: all;
        cursor: pointer;
      }
    }
  }
}

.opened {
  display: block;
  z-index: 2;
}
