@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  // Colors
  --background-color: #ffffff;
  --font-color: #000000;
  --blue1: #273a48;
  --blue2: #182b39;
  --blue3: #8b959c;
  // Font
  --font: "Fellix", sans-serif;
  --heading-font-weight: 600;
  --font-weight: 400;
  --button-color: var(--blue2);
  --button-color-inactive: var(--blue3);
  --button-text-color: var(--background-color);
  --button-opacity: 1;
  --button-hover-opacity: 0.7;
  --link-color: var(--button-color);
  --logo-color-dark: #1d1d1b;
  --logo-color-white: var(--background-color);
  font-size: 100%;
}

body {
  background-color: var(--background-color);
  font-family: var(--font);
}
h1,
h2 {
  font-size: 36px;
}

.overflow-hidden {
  overflow: hidden;
}

.wrapper-with-overview {
  display: grid;
  grid-template-columns: 60% 40%;
  margin-top: 2.5rem;
}
